/* * { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(24, 23, 23);
}

.WeatherApp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 630px;
    border: solid, 1px, rgb(46, 44, 44);
    background-color: rgb(24, 23, 23);
    border-radius: 25px;
    text-align: center;
    margin: 129px auto;
}
.forcastContainer{
    padding: 20px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.weatherIcon{
    height: 90px;
    opacity: 0.4;
}
.Today{
    width: 30%;
    border-left: solid, 1px, rgb(46, 44, 44);
}
.Forcast{
    width: 70%;
    text-align: left;
} */